* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth;
  font-size: 10px; }
  @media only screen and (max-width: 1279px) {
    html {
      font-size: 9px; } }
  @media only screen and (max-width: 480px) {
    html {
      font-size: 7px; } }

body {
  font-family: 'Lato', sans-serif;
  background-color: #dddddd; }

.row {
  width: 85%;
  margin: 0 auto; }
  @media only screen and (min-width: 1500px) {
    .row {
      width: 80%; } }
  @media only screen and (max-width: 767px) {
    .row {
      width: 90%; } }
  @media only screen and (max-width: 480px) {
    .row {
      width: 95%; } }

a:link,
a:visited {
  text-decoration: none;
  font-family: inherit;
  color: #000; }

::-webkit-scrollbar {
  width: 1rem; }

::-webkit-scrollbar-track {
  background-color: #dddddd;
  border: 2px solid #fff; }

::-webkit-scrollbar-thumb {
  background-color: #DC143C;
  border: 1px solid #fff;
  border-radius: .5rem; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ff2d2d; }

h2 {
  font-size: 3.5rem;
  margin-bottom: 3rem;
  text-transform: uppercase; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem;
  margin-bottom: 1.5rem; }

P {
  font-size: 1.6rem; }

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.hr-line {
  height: 2px;
  width: 100%;
  background-color: #dddddd;
  margin: 15px 0; }

.btn,
.btn:link,
.btn:visited {
  cursor: pointer;
  border: 0;
  display: inline-block;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  text-align: center;
  transition: all .3s; }

.btn:active {
  transform: scale(0.99); }

.btn-border-red:link,
.btn-border-red:visited {
  border: 1px solid #da1a1c;
  color: #da1a1c; }

.btn-border-red:hover {
  background-color: #da1a1c;
  color: #fff; }

.btn-red:link,
.btn-red:visited {
  border: 1px solid #da1a1c;
  background-color: #da1a1c;
  color: #fff; }

.btn-red:hover {
  background-color: #ff2d2d;
  color: #fff; }

.btn-icon {
  font-size: 2rem;
  padding-right: 3px;
  position: relative;
  top: 4px; }

.btn-green {
  color: #fff;
  background-color: #00c521; }

.btn-green:hover {
  background-color: #009D1A; }

.product-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem; }
  @media only screen and (max-width: 1023px) {
    .product-card-container {
      grid-template-columns: repeat(3, 1fr); } }
  @media only screen and (max-width: 767px) {
    .product-card-container {
      grid-template-columns: repeat(2, 1fr); } }

.product-card {
  border-radius: 1rem;
  background-color: #fff;
  padding: 1.5rem;
  transition: all .3s;
  text-align: left; }
  .product-card:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4); }
  .product-card-img {
    overflow: hidden; }
    .product-card-img img {
      width: 100%;
      transition: all .3s; }
      .product-card-img img:hover {
        transform: scale(1.1); }
  .product-card-title {
    text-transform: uppercase; }
  .product-card-short-spec {
    list-style: none;
    margin-bottom: 1.5rem; }
    .product-card-short-spec li {
      font-size: 1.4rem;
      font-weight: 300; }
  .product-card-price {
    font-size: 2rem;
    font-weight: 700;
    padding-right: 1rem;
    color: #00c521;
    margin-bottom: 1.5rem; }
    .product-card-price s {
      font-size: 1.4rem;
      font-weight: 300;
      color: #000; }
  .product-card-buttons {
    display: flex;
    flex-direction: column; }
    .product-card-buttons :not(:last-child) {
      margin-bottom: 1rem; }

header {
  z-index: 9999; }

.header-top-container {
  background-color: #DC143C;
  padding: 10px 0;
  position: relative; }
  @media only screen and (max-width: 1279px) {
    .header-top-container {
      height: 55px;
      position: fixed;
      width: 100vw; } }
  @media only screen and (max-width: 480px) {
    .header-top-container {
      padding: 5px 0;
      height: 40px; } }

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header-top__logo {
    height: 60px; }
    @media only screen and (max-width: 1279px) {
      .header-top__logo {
        height: 35px; } }
    @media only screen and (max-width: 480px) {
      .header-top__logo {
        height: 25px; } }
  @media only screen and (max-width: 1279px) {
    .header-top__nav {
      position: fixed;
      width: 100vw;
      left: 0;
      bottom: 0;
      background-color: #DC143C;
      box-shadow: 0 -2px 1rem rgba(0, 0, 0, 0.2);
      z-index: 7000; } }
  .header-top__nav ul {
    list-style: none;
    display: inline-flex; }
    @media only screen and (max-width: 1279px) {
      .header-top__nav ul {
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center; } }
    .header-top__nav ul li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative; }
      @media only screen and (max-width: 480px) {
        .header-top__nav ul li {
          margin: 0 5px; } }
    @media only screen and (min-width: 1280px) {
      .header-top__nav ul li:not(:last-child) {
        margin-right: 30px; } }
    .header-top__nav ul p {
      position: absolute;
      height: 15px;
      width: 15px;
      border: 1px solid #fff;
      font-size: 1rem;
      color: #fff;
      text-align: center;
      border-radius: 50%; }
      @media only screen and (max-width: 480px) {
        .header-top__nav ul p {
          height: 12px;
          width: 12px; } }
  .header-top__nav-icon {
    color: #dddddd;
    font-size: 2rem; }
  .header-top__nav ul li a:link,
  .header-top__nav ul li a:visited {
    font-size: 1.6rem;
    color: #dddddd; }
  .header-top__nav ul li:hover .header-top__nav-icon,
  .header-top__nav ul li:hover a {
    color: #fff; }
  .header-top__form {
    display: flex; }
    @media only screen and (max-width: 1279px) {
      .header-top__form {
        position: fixed;
        width: 100vw;
        top: 55px;
        left: 0;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); } }
    @media only screen and (max-width: 480px) {
      .header-top__form {
        top: 40px; } }
    .header-top__form-input {
      font-family: inherit;
      border: 0;
      font-size: 1.6rem;
      padding-left: 10px;
      transition: width .3s; }
      @media only screen and (min-width: 1280px) {
        .header-top__form-input {
          width: 450px;
          height: 40px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px; } }
      @media only screen and (max-width: 1279px) {
        .header-top__form-input {
          width: 100vw; } }
      .header-top__form-input:focus {
        outline: none; }
        @media only screen and (min-width: 1280px) {
          .header-top__form-input:focus {
            width: 500px; } }
    .header-top__form-link {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      background-color: #ff0000; }
      @media only screen and (min-width: 1280px) {
        .header-top__form-link {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px; } }
      .header-top__form-link:hover {
        background-color: #ff2d2d; }
    .header-top__form-icon {
      color: #fff;
      font-size: 2rem;
      transition: all .1s; }
    .header-top__form-link:active .header-top__form-icon {
      font-size: 1.6rem; }

#wish-list-icon {
  top: -5px;
  right: 6px; }
  @media only screen and (max-width: 480px) {
    #wish-list-icon {
      right: 4px; } }

#cart-icon {
  top: -5px;
  right: -10px; }
  @media only screen and (max-width: 480px) {
    #cart-icon {
      right: -6px; } }

.nav-container {
  background-color: #fff;
  align-items: center;
  position: absolute;
  transition: all .3s;
  transition-delay: .1s; }
  @media only screen and (max-width: 1279px) {
    .nav-container .row {
      margin: 0;
      padding-left: 15px;
      height: 100vh; } }
  @media only screen and (min-width: 1280px) {
    .nav-container {
      position: relative;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      height: 50px; } }
  @media only screen and (max-width: 1279px) {
    .nav-container {
      width: 20%;
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
      position: fixed;
      top: 55px;
      left: -100%; } }
  @media only screen and (max-width: 1023px) {
    .nav-container {
      width: 25%; } }
  @media only screen and (max-width: 767px) {
    .nav-container {
      width: 35%; } }
  @media only screen and (max-width: 480px) {
    .nav-container {
      width: 50%;
      top: 40px; } }

.main-nav {
  display: flex; }
  @media only screen and (min-width: 1280px) {
    .main-nav {
      align-items: center;
      justify-content: center; } }
  .main-nav > ul {
    display: flex;
    list-style: none;
    align-items: center;
    width: 100%; }
    @media only screen and (min-width: 1280px) {
      .main-nav > ul {
        justify-content: space-between; } }
    @media only screen and (max-width: 1279px) {
      .main-nav > ul {
        flex-direction: column;
        align-items: flex-start;
        overflow-x: hidden;
        overflow-y: scroll; } }
    .main-nav > ul > li {
      padding: 15px 0; }
      @media only screen and (max-width: 767px) {
        .main-nav > ul > li {
          padding: 8px 0; } }
      .main-nav > ul > li > a:link,
      .main-nav > ul > li > a:visited {
        font-size: 1.6rem;
        font-weight: 700;
        transition: all .2s; }
        @media only screen and (max-width: 1279px) {
          .main-nav > ul > li > a:link,
          .main-nav > ul > li > a:visited {
            font-size: 2rem; } }
      @media only screen and (max-width: 1279px) {
        .main-nav > ul > li:last-child {
          margin-bottom: 150px; } }
      .main-nav > ul > li:hover {
        cursor: pointer; }
      .main-nav > ul > li:hover > a {
        color: #ff2d2d; }
  @media only screen and (min-width: 1280px) {
    .main-nav > ul > li:hover .main-nav__submenu--1 {
      opacity: 1;
      visibility: visible;
      top: 100%; } }
  .main-nav__submenu--1 {
    padding: 5px 0;
    font-size: 1.4rem;
    background-color: #fff;
    transition: all .3s; }
    @media only screen and (min-width: 1280px) {
      .main-nav__submenu--1 {
        position: absolute;
        top: 120%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        border-top: 5px solid #ff2d2d;
        opacity: 0;
        visibility: hidden; } }
    @media only screen and (max-width: 1279px) {
      .main-nav__submenu--1 {
        display: none; } }
    .main-nav__submenu--1 > ul {
      list-style: none; }
      .main-nav__submenu--1 > ul > li {
        padding: 5px 15px;
        position: relative; }
        .main-nav__submenu--1 > ul > li > a {
          display: inline-block;
          height: 100%;
          width: 100%; }
        .main-nav__submenu--1 > ul > li:hover {
          background-color: #ff2d2d; }
          .main-nav__submenu--1 > ul > li:hover > a {
            color: #fff; }
  @media only screen and (min-width: 1280px) {
    .main-nav__submenu--1 > ul > li:hover .main-nav__submenu--2 {
      opacity: 1;
      visibility: visible;
      left: 100%; } }
  .main-nav__submenu--2 {
    background-color: #fff;
    transition: all .3s; }
    @media only screen and (min-width: 1280px) {
      .main-nav__submenu--2 {
        position: absolute;
        min-width: 120%;
        top: 0;
        left: 130%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        border-left: 2px solid #dddddd;
        opacity: 0;
        visibility: hidden; } }
    .main-nav__submenu--2 > ul {
      list-style: none; }
      .main-nav__submenu--2 > ul > li {
        padding: 5px 15px; }
        .main-nav__submenu--2 > ul > li > a {
          display: inline-block;
          height: 100%;
          width: 100%; }
        .main-nav__submenu--2 > ul > li:hover {
          background-color: #ff2d2d; }
          .main-nav__submenu--2 > ul > li:hover > a {
            color: #fff; }

@media only screen and (min-width: 1280px) {
  .hide-header-top {
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: all .5s; } }

.nav-toggle-btn {
  display: none;
  height: 35px;
  width: 35px;
  z-index: 9999; }
  @media only screen and (max-width: 1279px) {
    .nav-toggle-btn {
      display: inline-flex;
      justify-content: center;
      align-items: center; } }
  @media only screen and (max-width: 480px) {
    .nav-toggle-btn {
      height: 30px;
      width: 30px; } }
  .nav-toggle-btn span {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    background-color: #fff; }
    .nav-toggle-btn span, .nav-toggle-btn span::before, .nav-toggle-btn span::after {
      width: 30px;
      height: 2px;
      background-color: #fff;
      display: inline-block; }
      @media only screen and (max-width: 480px) {
        .nav-toggle-btn span, .nav-toggle-btn span::before, .nav-toggle-btn span::after {
          height: 2px;
          width: 25px; } }
    .nav-toggle-btn span::before, .nav-toggle-btn span::after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      transition: transform .2s; }
    .nav-toggle-btn span::before {
      top: -10px; }
      @media only screen and (max-width: 480px) {
        .nav-toggle-btn span::before {
          top: -7px; } }
    .nav-toggle-btn span::after {
      top: 10px; }
      @media only screen and (max-width: 480px) {
        .nav-toggle-btn span::after {
          top: 7px; } }

#nav-toggle-btn:checked ~ .header-top-container label span {
  background-color: transparent; }

#nav-toggle-btn:checked ~ .header-top-container label span::before {
  top: 0;
  transform: rotate(135deg); }

#nav-toggle-btn:checked ~ .header-top-container label span::after {
  top: 0;
  transform: rotate(-135deg); }

@media only screen and (max-width: 1279px) {
  .show-nav {
    left: 0; } }

#nav-toggle-btn:checked ~ .nav-container {
  left: 0; }

@media only screen and (min-width: 1280px) {
  .search-open {
    display: none; } }

.search-open-icon {
  font-size: 2.5rem;
  color: #fff; }

#search-open:checked ~ .header-top__form {
  opacity: 1;
  visibility: visible; }

.footer {
  background-color: #da1a1c;
  padding: 50px 0; }
  @media only screen and (max-width: 1279px) {
    .footer {
      padding-top: 40px; } }
  @media only screen and (max-width: 1023px) {
    .footer {
      padding-top: 30px; } }
  @media only screen and (max-width: 767px) {
    .footer {
      padding-top: 20px; } }
  @media only screen and (max-width: 480px) {
    .footer {
      padding-top: 10px; } }
  .footer__links {
    list-style: none;
    font-size: 1.6rem;
    margin-bottom: 50px; }
    @media only screen and (max-width: 1279px) {
      .footer__links {
        margin-bottom: 20px; } }
    @media only screen and (max-width: 1023px) {
      .footer__links {
        margin-bottom: 10px; } }
    .footer__links li a:link,
    .footer__links li a:visited {
      display: inline-block;
      padding: 10px;
      color: #dddddd; }
    .footer__links li a:hover {
      color: #fff; }
  .footer__box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-bottom: 20px; }
    @media only screen and (max-width: 767px) {
      .footer__box-container {
        grid-gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr); } }
  .footer__box-item {
    color: #dddddd;
    font-size: 1.6rem;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #ff2d2d;
    border-radius: 1.5rem; }
    @media only screen and (max-width: 767px) {
      .footer__box-item {
        padding: 10px;
        font-size: 1.5rem; } }
    .footer__box-item strong {
      font-size: 1.8rem; }
    .footer__box-item p:not(:last-child) {
      margin-bottom: .5rem; }
    .footer__box-item:hover {
      color: #fff;
      cursor: pointer;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
  .footer__social-links {
    display: flex;
    justify-content: center; }
  .footer__social-item {
    padding: 10px;
    font-size: 3rem; }
    .footer__social-item a {
      color: #dddddd; }
      .footer__social-item a:hover {
        color: #fff; }
  .footer__copy-right {
    color: #dddddd;
    padding: 10px 0; }
    .footer__copy-right p {
      font-size: 1.4rem;
      text-align: center; }

.section-banner {
  margin-bottom: 50px;
  padding-top: 20px; }
  @media only screen and (max-width: 1279px) {
    .section-banner {
      padding-top: 60px; } }
  @media only screen and (max-width: 767px) {
    .section-banner {
      margin-bottom: 20px; } }
  @media only screen and (max-width: 480px) {
    .section-banner {
      padding-top: 45px;
      margin-bottom: 10px; } }
  .section-banner__img--main img {
    border: 10px solid #fff;
    width: 100%; }
    @media only screen and (max-width: 767px) {
      .section-banner__img--main img {
        border: 5px solid #fff; } }
  .section-banner__big {
    width: 66%; }
    @media only screen and (max-width: 767px) {
      .section-banner__big {
        width: 100%; } }
  .section-banner__small {
    width: 33%; }
    @media only screen and (max-width: 767px) {
      .section-banner__small {
        width: 50%; } }
  @media only screen and (max-width: 767px) {
    .section-banner__img--sub {
      margin-top: 20px;
      display: flex;
      justify-content: space-between; } }
  @media only screen and (max-width: 480px) {
    .section-banner__img--sub {
      margin-top: 10px; } }
  .section-banner__img--sub img {
    width: 100%; }

.section-posters {
  margin-bottom: 50px; }
  @media only screen and (max-width: 767px) {
    .section-posters {
      margin-bottom: 20px; } }
  @media only screen and (max-width: 480px) {
    .section-posters {
      margin-bottom: 10px; } }
  .section-posters__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .section-posters__item {
    width: 24%;
    overflow: hidden; }
    @media only screen and (max-width: 767px) {
      .section-posters__item {
        width: 49%; } }
    .section-posters__item img {
      width: 100%;
      transition: all .5s; }
      .section-posters__item img:hover {
        cursor: pointer;
        transform: scale(1.1); }
    .section-posters__item:nth-child(n+5) {
      margin-top: 15px; }
      @media only screen and (max-width: 480px) {
        .section-posters__item:nth-child(n+5) {
          display: none; } }
    @media only screen and (max-width: 767px) {
      .section-posters__item:nth-child(n+3) {
        margin-top: 15px; } }

.section-about {
  background-color: #fff;
  padding: 50px 0; }
  @media only screen and (max-width: 1279px) {
    .section-about {
      padding: 40px 0; } }
  @media only screen and (max-width: 1023px) {
    .section-about {
      padding: 30px 0; } }
  @media only screen and (max-width: 767px) {
    .section-about {
      padding: 20px 0; } }
  @media only screen and (max-width: 480px) {
    .section-about {
      padding: 10px 0; } }
  .section-about p {
    letter-spacing: .5px;
    line-height: 2rem; }

.section-new-arival {
  background-color: #eee;
  padding: 50px 0;
  text-align: center; }
  @media only screen and (max-width: 1279px) {
    .section-new-arival {
      padding: 40px 0; } }
  @media only screen and (max-width: 1023px) {
    .section-new-arival {
      padding: 30px 0; } }
  @media only screen and (max-width: 767px) {
    .section-new-arival {
      padding: 20px 0; } }
  @media only screen and (max-width: 480px) {
    .section-new-arival {
      padding: 10px 0; } }
  .section-new-arival h2 {
    text-align: center; }
  .section-new-arival__btn {
    display: inline-block;
    margin-top: 2rem;
    border-bottom: 1px solid #ff2d2d; }
    @media only screen and (max-width: 480px) {
      .section-new-arival__btn {
        margin-top: 1rem; } }
    .section-new-arival__btn:hover {
      background-color: #ff2d2d;
      color: #fff;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      transform: translate(0, -3px); }
    .section-new-arival__btn:active {
      transform: translate(0, -1px);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

.section-happy-buyer {
  margin: 50px 0; }
  .section-happy-buyer h2 {
    text-align: center; }
  .section-happy-buyer__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; }
  .section-happy-buyer__item {
    width: 24%;
    overflow: hidden; }
    @media only screen and (max-width: 767px) {
      .section-happy-buyer__item {
        width: 49%;
        margin-bottom: 1rem; } }
    .section-happy-buyer__item img {
      width: 100%;
      transition: all .5s; }
      .section-happy-buyer__item img:hover {
        transform: scale(1.05); }

.section-login {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("../img/login-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh; }
  .section-login__form {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 50rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    padding: 2rem; }
    @media only screen and (max-width: 767px) {
      .section-login__form {
        width: 45rem; } }
    @media only screen and (max-width: 480px) {
      .section-login__form {
        width: 40rem; } }
  .section-login__heading {
    color: #777;
    margin-bottom: 1rem; }
  .section-login__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; }
  .section-login__input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #777;
    padding: 1rem 0;
    font-size: 1.6rem;
    font-family: inherit;
    color: #777;
    font-weight: 700; }
    .section-login__input:focus {
      outline: none;
      border-bottom: 2px solid #00c521; }
    .section-login__input:focus:invalid {
      border-bottom: 2px solid #DC143C; }
  .section-login__span {
    position: relative;
    order: -1;
    font-size: 1.5rem;
    color: #777;
    transition: all .3s; }
  .section-login__input:placeholder-shown ~ .section-login__span {
    transform: translateY(2.3rem);
    opacity: 0;
    visibility: hidden; }
  .section-login .btn-green {
    border-radius: .5rem;
    background-image: linear-gradient(120deg, #00c521 50%, #009D1A 50%);
    background-size: 210%;
    transition: all .5s; }
    .section-login .btn-green:hover {
      background-position: 100%; }
  .section-login__forgot-password:link, .section-login__forgot-password:visited {
    margin-top: 1rem;
    color: #da1a1c;
    font-size: 1.5rem; }
  .section-login__text {
    font-size: 1.5rem;
    margin: 1.5rem auto; }
