$color-primary-light: #ff2d2d;
$color-primary: #ff0000;
$color-primary-dark: #DC143C;
$color-primary-dark-2: #da1a1c;

$color-white: #fff;
$color-black: #000;

$color-gray-light-1: #dddddd;
$color-gray-light-2: #eee;
$color-gray-dark-1: #777;

$color-green-light-1: #00c521;
$color-green-dark-1: #009D1A;

$color-danger: #da1a1c;