$color-primary-light: #ff2d2d;
$color-primary: #ff0000;
$color-primary-dark: #DC143C;
$color-primary-dark-2: #da1a1c;

$color-white: #fff;
$color-black: #000;

$color-gray-light-1: #dddddd;

$color-green-light-1: #00c521;