.footer{
    background-color: $color-primary-dark-2;
    padding: 50px 0;

    @include query(laptop){
        padding-top: 40px;
    }

    @include query(tab-land){
        padding-top: 30px;
    }

    @include query(tab-port){
        padding-top: 20px;
    }

    @include query(phone){
        padding-top: 10px;
    }

    &__links{
        list-style: none;
        font-size: 1.6rem;
        margin-bottom: 50px;

        @include query(laptop){
            margin-bottom: 20px;
        }

        @include query(tab-land){
            margin-bottom: 10px;
        }
        
        & li a:link,
        & li a:visited{
            display: inline-block;
            padding: 10px;
            color: $color-gray-light-1;
        }

        & li a:hover{
            color: $color-white;
        }
    }

    &__box-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        margin-bottom: 20px;

        @include query(tab-port){
            grid-gap: 1.5rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__box-item{
        color: $color-gray-light-1;
        font-size: 1.6rem;
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        padding: 15px;       
        background-color: $color-primary-light;
        border-radius: 1.5rem;
        transition: all .3s;

        @include query(tab-port){
            padding: 10px;
            font-size: 1.5rem;
        }

        & strong{
            font-size: 1.8rem;
        }

        & p:not(:last-child){
            margin-bottom: .5rem;
        }

        &:hover{
            color: $color-white;
            cursor: pointer;
            box-shadow: 0 .5rem 1rem rgba($color-black, .1);
        }
    }

    &__social-links{
        display: flex;
        justify-content: center;
    }

    &__social-item{
        padding: 10px;
        font-size: 3rem;

        & a{
            color: $color-gray-light-1;

            &:hover{
                color: $color-white;
            }
        }
    }

    &__copy-right{
        color: $color-gray-light-1;
        padding: 10px 0;

        & p{
            font-size: 1.4rem;
            text-align: center;
        }
    }
}