.product-card-container{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.product-card{
    width: 24.5%;
    border-radius: 1rem;
    background-color: $color-white;
    padding: 1.5rem;
    transition: all .3s;
    margin-bottom: 2rem;
    text-align: left;

    &:last-child{
        display: none;

        @include query(tab-land){
            display: block;
        }

        @include query(tab-port){
            display: none;
        }
    }

    @include query(laptop){
        margin-bottom: 1rem;
    }

    @include query(tab-land){
        width: 32.5%;
    }

    @include query(tab-port){
        width: 49%;
    }

    &:hover{
        box-shadow: 0 0 2rem rgba($color-black, .4);
    }

    &-img{
        overflow: hidden;

        & img{
            width: 100%;
            transition: all .3s;

            &:hover{
                transform: scale(1.1);
            }
        }
    }

    &-title{
        text-transform: uppercase;
    }

    &-short-spec{
        list-style: none;
        margin-bottom: 1.5rem;

        & li{
            font-size: 1.4rem;
            font-weight: 300;
        }
    }

    &-price{
        font-size: 2rem;
        font-weight: 700;
        padding-right: 1rem;
        color: $color-green-light-1;
        margin-bottom: 1.5rem;

        & s{
            font-size: 1.4rem;
            font-weight: 300;
            color: $color-black;
        }
    }

    &-buttons{
        display: flex;
        flex-direction: column;

        :not(:last-child){
            margin-bottom: 1rem;
        }
    }
}