.product-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;

    @include query(tab-land){
        grid-template-columns: repeat(3, 1fr);;
    }

    @include query(tab-port){
        grid-template-columns: repeat(2, 1fr);;
    }

    @include query(phone){
        grid-template-columns: 1fr;
    }
}
.product-card{
    border-radius: 1rem;
    background-color: $color-white;
    padding: 1.5rem;
    transition: all .3s;
    text-align: left;
    
    &:hover{
        box-shadow: 0 0 2rem rgba($color-black, .4);
    }

    &-img{
        overflow: hidden;

        & img{
            width: 100%;
            transition: all .3s;

            &:hover{
                transform: scale(1.1);
            }
        }
    }

    &-title{
        text-transform: uppercase;
        font-size: 1.8rem;

        & a:hover{
            color: $color-primary;
            text-decoration:underline;
        }
    }

    &-short-spec{
        list-style: none;
        margin-bottom: 1.5rem;

        & li{
            font-size: 1.4rem;
            font-weight: 300;
        }
    }

    &-price{
        font-size: 2rem;
        font-weight: 700;
        padding-right: 1rem;
        color: $color-green-light-1;
        margin-bottom: 1.5rem;

        & s{
            font-size: 1.4rem;
            font-weight: 300;
            color: $color-black;
        }
    }

    &-buttons{
        display: flex;
        flex-direction: column;

        :not(:last-child){
            margin-bottom: 1rem;
        }
    }
}