.section-login{
    background-image: linear-gradient(rgba($color-black, .4), rgba($color-black, .3)), url('../img/login-bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 80vh;
    max-height: 150vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include query(phone){
        padding: 0 1rem;
    }

    &__form{
        background-color: rgba($color-white, .5);
        width: 50rem;
        border-radius: 1rem;
        box-shadow: 0 0 2rem rgba($color-black, .4);
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin: 6rem 0;

        @include query(laptop){
            margin-top: 10rem;
        }

        @include query(tab-port){
            
            width: 45rem;
        }

        @include query(phone){
            width: 40rem;
        }
    }

    &__heading{
        color: $color-gray-dark-1;
        margin-bottom: 1rem;
    }

    &__form-group{
        display: flex;
        flex-direction: column;

        &:not(:last-child){
            margin-bottom: 2rem;
        }
        
    }

    &__input{
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid $color-gray-dark-1;
        padding: 1rem 0;
        font-size: 1.6rem;
        font-family: inherit;
        color: $color-gray-dark-1;
        font-weight: 700;
        

        &:focus{
            outline: none;
            border-bottom: 2px solid $color-green-light-1;
        }

        &:focus:invalid{
            border-bottom: 2px solid $color-primary-dark;
        }
    }

    &__span{
        position: relative;
        order: -1;
        font-size: 1.5rem;
        color: $color-gray-dark-1;
        transition: all .3s;
    }

    &__input:placeholder-shown ~ &__span{
        transform: translateY(2.3rem);
        opacity: 0;
        visibility: hidden;
    }

    & .btn-green{
        border-radius: .5rem;
        background-image: linear-gradient(120deg, $color-green-light-1  50%, $color-green-dark-1 50%);
        background-size: 210%;
        transition: all .5s;

        &:hover{
            background-position: 100%;
        }
    }

    &__forgot-password:link,
    &__forgot-password:visited{
        margin-top: 1rem;
        color: $color-danger;
        font-size: 1.5rem;
    }

    &__text{
        font-size: 1.5rem;
        margin: 1.5rem auto;

        & a:link,
        & a:visited{
            color: $color-danger;
        }
    }
}