.section-product-summary{
    background-color: $color-white;
    padding: 5rem 0 0;
    box-shadow: 0 2px .5rem rgba($color-black, .4);

    @include query(laptop){
        padding:  8rem 0 0;
    }

    &__basic{
        display: grid;
        grid-template-columns: 35% 60%;
        grid-gap: 5%;

        @include query(tab-port){
            display: flex;
            flex-direction: column;
        }
    }

    &__image{
        display: flex;
        flex-direction: column;

        & p{
            margin-top: 2rem;
            font-size: 1.4rem;
            color: $color-danger;
        }
    }

    &__imgbig{
        margin-bottom: 1.5rem;

        & img{
            width: 100%;
            border: 1px solid $color-gray-dark-1;
        }
    }

    &__imgsmall{
        display: flex;
        justify-content: center;

        & img{
            height: 5rem;
            cursor: pointer;
            border: 1px solid $color-gray-dark-1;

            &:hover{
                border: 2px solid $color-gray-dark-1;;
            }
            &:not(:last-child){
                margin-right: 1.5rem;
            }
        }
    }

    &__title{
        @include query(tab-port){
            margin: 3rem 0;
        }
    }

    &__price{
        font-size: 2rem;
        margin-bottom: 1.5rem;

        & s{
            font-size: 1.4rem;
            margin-left: 1rem;
        }
    }

    &__short-spec{
        list-style: none;
        font-size: 1.6rem;
        line-height: 2.5rem;
        
        & .btn{
            color: $color-white;
            margin-top: 2rem;
        }
    }

    &__buy-section{

        &-emi{
            margin-top: 2rem;
            & a{
                display: inline-block;
                font-size: 2rem;
                color: $color-danger;
            }
        }
        
    }

    &__nav{
        margin-top: 3rem;

        & ul{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            font-size: 1.6rem;

            & li{
                font-weight: 700;

                & a{
                    border-bottom: 2px solid transparent;
                    display: inline-block;
                    padding: 2rem;

                    &:hover{
                        border-bottom: 2px solid $color-primary-light;
                    }
                }

                &:not(:last-child){
                    margin-right: 3rem;
                }
            }
        }
    }
}

// functionality

.buy-quantity{
    margin-top: 2rem;
    display: inline-flex;

    & span{
        border: 1px solid $color-gray-light-1;
        height: 5rem;
        width: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        cursor: pointer;
    }

    &-input{
        border: 1px solid $color-gray-light-1;
        height: 5rem;
        width: 5rem;
        text-align: center;
        font-size: 1.6rem;

        &:focus{
            outline: none;
        }
    }

    & .btn{
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2rem;
        height: 5rem;
    }
}

.section-product-full{
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;

    @include query(tab-land){
        grid-template-columns: 1fr;
    }

    &__specs{
        display: flex;
        flex-direction: column;
    }

    &__specs-tab{
        background-color: $color-white;
        padding: 2rem;
        border-radius: .5rem;
        margin-bottom: 1.5rem;
    }

    &__description{
        background-color: $color-white;
        padding: 3rem 2rem;
        border-radius: .5rem;

        & h3{
            margin-bottom: 2rem;
        }
    }

    &__related{
        background-color: $color-white;
        padding: 1.5rem;
        border-radius: .5rem;

        & .related-container{
            display: flex;
            flex-direction: column;
        }
        & .related-items{
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-gap: 1rem;
            margin: 0 0 1rem;
            padding-top: 1rem;
            border-top: 1px solid $color-gray-light-1;

            @include query(tab-land){
                grid-template-columns: 1fr 5fr;
            }

            & img{
                width: 100%;

                @include query(tab-land){
                    width: 70%;
                }
            }
        }
    }
}

.specs-table{
    width: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;

    & tr{
        display: flex;

        & td{
            line-height: 3rem;
            padding: 1rem;
        }

        & .spec-name{
            display: flex;
            flex: 0 0 25rem;

            @include query(tab-port){
                flex: 0 0 20rem;
            }

            @include query(phone){
                flex: 0 0 18rem;
            }
        }

        & .spec-value{
            display: flex;
            flex: 1 1 auto;
        }
    }
    & tbody tr{
        border-bottom: 1px solid $color-gray-light-1;

        &:hover{
            background-color: rgba($color-gray-light-1, .2);
        }
    }

    & thead tr th{
        display: flex;
        flex: 1 1 auto;
        color: $color-black;
        line-height: 3rem;
        padding: 1rem;
        border-radius: .5rem;
        background-color: rgba($color-gray-light-1, .5);
    }
}