.section-banner{
    margin-bottom: 50px;

    @include query(laptop){
        padding-top: 60px;
    }

    &__img--main{

        & img{
            border: 10px solid $color-white;
            width: 100%;

            @include query(tab-port){
                border: 5px solid $color-white;
            }
        }
    }

    &__img--sub{

        &>ul{
            list-style: none;

            & li{
                display: inline-block;

                & img{  
                    width: 100%;

                    @include query(tab-port){
                        width: 95%;
                    }
                }

                &:first-child{
                    margin-bottom: 20px;

                    @include query(laptop){
                        margin-bottom: 15px;
                    }

                    @include query(tab-port){
                        margin-bottom: 0;
                    }
                }

                &:last-child{

                    @include query(tab-port){
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
            @include query(tab-port){
                margin-top: 10px;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

.section-posters{
    margin-bottom: 50px;

    &__container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item{
        width: 24%;
        overflow: hidden;

        @include query(tab-port){
            width: 49%;
        }

        & img{
            width: 100%;
            transition: all .5s;

            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
        }

        &:nth-child(n+5){
            margin-top: 15px;

            @include query(phone){
                display: none;
            }
        }

        &:nth-child(n+3){
            @include query(tab-port){
                margin-top: 15px;
            }
        }
    }
}